/* Táblázat beállításai */
table {
        border-collapse:collapse;  /* szegély összevonása*/
      }
td,th { 
        border:1px solid black;   /* szegély beállítása */
        padding: 10px;              /* kitöltés (belső margó) beállítása */  
       }


/* További beállítások a feladat szerint */

h1 {
        /*betűszín állítás*/
        color: blue;
        color: #0000ff;
        color: rgb(0, 0, 255);
        /*color: red;*/
}

#vastag {
font-weight: bold;
}